# Python
*.pyc
__pycache__/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# Virtual Environment
venv/
env/

# Static files
staticfiles/
node_modules"app113209/migrations/*.py" 
node_modules
