.container {
  width: 80%; /* 設置百分比寬度 */
  max-width: 400px; /* 設置最大寬度以防止過於寬大 */
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  min-height: 420px; /* 設置最小高度 */
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.input-container {
  margin-bottom: 30px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

button[type="submit"] {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

@media (max-width: 480px) {
  .container {
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    font-size: 14px;
  }

  button[type="submit"] {
    font-size: 14px;
  }
}
