.home-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.branch-selection {
  margin-top: 60px;
  margin-bottom: 20px;
  position: absolute;
  right: 20px;
  top: 70px;
  z-index: 1000;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.chart {
  height: 400px;
}
