/* 登入容器 */
.login-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.login-form {
  background-color: white;
  padding: 2rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 300px;
  max-width: 35rem;
  box-sizing: border-box;
  text-align: left;
  margin-right: 2rem;
}

.login-form h2 {
  margin-bottom: 1.25rem;
  font-size: 1.75rem;
  color: #333;
  text-align: center;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  box-sizing: border-box;
}

.input-container {
  position: relative;
}

.input-container i {
  position: absolute;
  right: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.additional-options {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.additional-options label {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.additional-options span {
  margin-right: auto;
}

.additional-options a {
  font-size: 0.875rem;
  color: #007bff;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.additional-options a:hover {
  text-decoration: underline;
}

.submit-button {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* 切換按鈕樣式 */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  margin-right: 8px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
