.sidebar {
  height: 100vh; /* 使整个侧边栏使用视口高度 */
  width: 60px; 
  position: fixed;
  top: 70px;
  left: 0;
  background-color: #636262;
  overflow-x: hidden;
  transition: width 0.4s, margin-left 0.4s; /* 统一的过渡时间 */
  padding-top: 70px; 
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  width: 200px; /* 侧边栏展开时的宽度 */
}

.sidebar-header {
  padding: 10px 15px;
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: start; /* 修改为 start，使图标和文本靠近 */
  gap: 10px; /* 增加一个小的间距 */
}

.sidebar a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  position: relative;
}

.sidebar a:hover {
  background-color: #575757;
}

.sidebar a .icon {
  margin-right: 10px;
  display: inline-block;
  width: 25px;
  text-align: center;
  font-size: 33px;
}

.sidebar.open a .text {
  display: inline-block; /* 展开时显示文字 */
}

.sidebar a .text {
  display: none; /* 收起时隐藏文字 */
}

.sidebar .toggle-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.logout {
  margin-bottom: auto; /* 将登出按钮推到底部 */
  padding-bottom: 20px;
}

.content {
  margin-left: 60px; /* 与侧边栏的默认宽度一致 */
  padding: 20px;
  transition: margin-left 0.4s ease; /* 统一的过渡时间 */
}

.sidebar.open ~ .home-page {
  margin-left: 200px; /* 当侧边栏展开时，内容区域右移200px */
}

