/* Navbar.css */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center; /* 修改为两端对齐 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-title {
  font-size: 30px;
  font-weight: bold;
}

.export-container {
  position: absolute;
  right: 70px; /* 右边距离 */
}

.export-button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  margin-top: 5px; /* 增加上边距 */
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
}

.export-button:hover {
  background-color: #3700b3;
}

.export-menu {
  position: absolute;
  top: 48px;
  right: 0;
  padding: 10px 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin-right: 20px;
}

.export-menu button {
  background-color: #fff;
  color: #333;
  border: none;
  /* padding: 5px 40px; */
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  padding: 3px;
}

.export-menu button:hover {
  background-color: #f1f1f1;
}
