/* .top-navbar {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #303F9F;
    color: white; */
  /* } */

  .user-profile {
    display: flex;
    align-items: center;
  }
  
  /* .user-profile img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  } */
  

  .export-btn {
    position: fixed;  /* 固定按鈕的位置 */
    top: 20px;  /* 距離頂部 20px */
    right: 20px;  /* 距離右側 20px */
    background-color: #6200EE;  /* 按鈕背景色 */
    color: white;  /* 按鈕字體顏色 */
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 1000;  /* 確保按鈕位於其他元素之上 */
}