.dashboard-container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.selection-container {
  display: flex;
  justify-content: space-between;
  justify-content: center; /* 调整为空间均匀分布 */
  gap: 20px; /* 减少 gap 的大小 */
  margin-bottom: 20px;
}

.module-selection,
.role-selection {
  flex: 1 1 auto; /* 允许它们自动调整大小 */
  max-width: 45%; /* 限制它们的最大宽度 */
  min-width: 200px;
}

.chart-selection {
  display: flex;
  justify-content: center; /* 按钮居中对齐 */
  gap: 10px;
  margin-bottom: 20px;
}

.chart-actions {
  display: flex;
  gap: 10px;
}

.chart-selection button,
.chart-actions button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.chart-item {
  flex: 1 1 300px;
  min-width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

@media (max-width: 768px) {
  .selection-container {
    flex-direction: column;
  }

  .chart-selection,
  .chart-actions {
    flex-direction: column;
  }

  .chart-selection button,
  .chart-actions button {
    width: 100%;
  }

  .main-content.shifted {
    margin-left: 0;
  }
}