body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 150vh; /* 將頁面高度設為視窗高度的 150%，確保下方有足夠的空間 */
    overflow-y: auto; /* 增加滾動條 */
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 60px auto;
    background-color: #ffffff;
    padding: 40px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    min-height: 100vh; /* 確保容器高度足夠 */
    text-align: left;
    padding-bottom: 80px; /* 增加底部空白 */

}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.6em;
    width: 100%;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.btn-approve {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-search {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;

}
.btn-cancel {
    margin-top: 10px;
    margin-left: 70px; /* 調整為您想要的 px 值來移動取消按鈕 */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}


@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
        max-width: 100%;
    }

    h2 {
        font-size: 1.4em;
    }

    input, select, button {
        font-size: 0.9em;
        padding: 8px;
    }
}
