body {
  font-family: Arial, sans-serif !important;
  background-color: #f4f4f4 !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
  min-height: 100vh !important;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
<<<<<<< HEAD
.form-group input[type="checkbox"] {
  width: auto;
  display: inline;
=======

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px; /* Space between checkbox and label */
  margin-right: 10px; /* Adjusts space between checkbox and label */
  margin-top: 0; /* Removes any default top margin */
  margin-bottom: 0; /* Removes any default bottom margin */
  position: relative; /* Positions checkbox in the middle */
  top: -1px; /* Slightly adjust the checkbox position to align with label */
>>>>>>> 519b8dfe12dc80f993e2f887ccc316b475e2ac7f
}
.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.btn-login:hover {
  background-color: #0056b3;
}