body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  box-sizing: border-box;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  text-align: left;
  margin: 0 auto;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px; /* Space between checkbox and label */
  margin-right: 10px; /* Adjusts space between checkbox and label */
  margin-top: 0; /* Removes any default top margin */
  margin-bottom: 0; /* Removes any default bottom margin */
  position: relative; /* Positions checkbox in the middle */
  top: -1px; /* Slightly adjust the checkbox position to align with label */
}

.btn-login {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #218838;
}

p {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
