body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden; /* 禁止整體滾動 */
}

.container {
  max-width: 600px;
  margin: 100px auto 20px;
  background-color: #ffffff;
  padding: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-fixed {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  padding-bottom: 2px;
  border-bottom: 1px solid #ddd;
}

.scroll-container {
  height: 70vh; /* 設定為視窗高度的 70% */
  overflow-y: auto; /* 僅允許內部滾動 */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2px;
}

th, td {
  padding: 1px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 8px;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

td input[type="checkbox"] {
  transform: scale(0.6);
  margin: 0;
  display: inline-block;
}

td .checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.btn:hover {
  background-color: #5a6268;
}

.table-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member-container {
  display: flex;
  flex-direction: column;
}

.member-item {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.member-item select {
  flex-grow: 1;
  padding: 1px;
  font-size: 8px;
}

.member-item button {
  margin-left: 2px;
  padding: 1px;
  font-size: 8px;
}

@media (max-width: 1024px) {
  .container {
    padding: 3px;
  }

  table {
    font-size: 7px;
  }

  th, td {
    padding: 1px;
  }

  .btn {
    padding: 3px 6px;
    font-size: 10px;
  }

  .member-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .member-item select {
    width: 100%;
    margin-bottom: 2px;
  }

  .member-item button {
    margin-left: 0;
    margin-top: 1px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 85%;
    padding: 3px;
  }

  table {
    font-size: 6px;
  }

  th, td {
    padding: 1px;
  }

  .btn {
    padding: 1px 2px;
    font-size: 6px;
  }

  .member-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .member-item select {
    width: 100%;
    margin-bottom: 1px;
  }

  .member-item button {
    margin-left: 0;
    margin-top: 1px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 2px;
  }

  table {
    font-size: 5px;
  }

  th, td {
    padding: 1px;
  }

  .btn {
    padding: 1px 1px;
    font-size: 5px;
  }

  .member-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .member-item select {
    width: 100%;
    margin-bottom: 1px;
  }

  .member-item button {
    margin-left: 0;
    margin-top: 1px;
  }
}
