.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 60px; 
  background-color: #333;
  color: #fff;
  overflow-x: hidden;
  transition: width 0.4s, transform 0.4s;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.sidebar.open {
  width: 200px;
}

.sidebar-header {
  padding: 10px 15px;
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-btn {
  font-size: 30px;
  cursor: pointer;
}

.user-section {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  margin-left: 5px;
  padding: 15px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.user-section:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.user-section .user-icon {
  font-size: 25px;
  margin-right: 25px;
}

.user-section .icon {
  font-size: 20px;
}

.user-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.user-icon {
  font-size: 30px; /* Make the user icon larger */
}

.username {
  font-size: 18px; /* Adjust the font size if needed */
  display: none;
  color: white; /* Set the username color to white */
}

.sidebar.open .username {
  display: inline-block;
}

.sidebar a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  position: relative;
}

.sidebar a .text {
  display: none;
}

.sidebar a .icon {
  display: block;
  margin-right: 0;
}

.sidebar.open a .text {
  display: inline-block;
  margin-left: 10px;
}

.sidebar.open a .icon {
  margin-right: 10px;
}

.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Hover effect */
}

.sidebar-link .icon {
  margin-right: 10px;
}

.sidebar-link .text {
  display: none;
}

.sidebar.open .sidebar-link .text {
  display: inline-block;
}

.logout-btn {
  background-color: transparent;
  width: 100%;
  text-align: left;
  transition: background-color 0.4s ease;
}

.logout-btn .text {
  display: none;
}

.sidebar.open .logout-btn .text {
  display: inline-block;
}

.sidebar.open .logout-btn {
  background-color: #dc3545;
}

.logout-btn:hover {
  background-color: #c82333;
}

.content {
  margin-left: 60px;
  padding: 20px;
  transition: margin-left 0.4s ease;
}

.sidebar.open ~ .content {
  margin-left: 200px;
}